{% extends 'base.html' %}  
<!-- extends untuk menggunakan template -->

<!-- isikan block per nama nya -->
{% block page_title %} Biodata {% endblock %}
<!-- sisakan isi <main> aja -->
{% block content %}
<div class="container">
    <header class="header">
      <h1>Karim Sajid Mumtazan</h1>
      <h4>Kelas 10 - SMA IT HSI Purworejo</h4>
    </header>

    <main>
      <div class="box biodata-layout">
        <img src="/static/images/raiku.jpg" alt="Foto Santri" class="profile-pic">
        <div>
          <h3 class="box-title">Tentang Saya</h3>
          <p>Aku adalah santri yang semangat belajar ilmu agama dan teknologi. Sejak umur 13 aku menyukai dunia komputer dan bercita-cita menjadi programmer hebat.</p>
          <p>Aku ingin menyeimbangkan ilmu dunia dan akhirat agar bermanfaat bagi banyak orang.</p>
        </div>
      </div>

      <div class="box">
        <h3 class="box-title">Hobi</h3>
        <ul>
          <li>Ngoding</li>
          <li>Olahraga</li>
          <li>Mempelajari sains dan teknologi</li>
        </ul>
      </div>

      <div class="box">
        <h3 class="box-title">Cita-cita</h3>
        <ol>
          <li>Menjadi hacker terbaik di dunia</li>
          <li>Kuliah di Tokyo Tech</li>
          <li>Mendapat beasiswa MEXT</li>
        </ol>
      </div>

      <div class="box">
        <h3 class="box-title">Kontak</h3>
        <p>Email: karimmumtazan@gmail.com<br>Instagram: @karimsa_jed</p>
      </div>
    </main>
</div>
{% endblock %}
